body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.dropdown {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.token-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-bottom: 56px;
}

.token-container img {
    width: 275px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.token-container button {
    position: absolute;
    background-color: white;
    border: none;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.token-container .remove-btn {
    top: 56px;
    right: 14px;
}

.token-container .duplicate-btn {
    top: 56px;
    left: 14px;
}

.token-container img.tapped {
    transform: rotate(90deg);
}

.options-btn {
    bottom: 14px;
    left: 4px;
}

.options-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}


.options-menu button {
    display: block;
    margin-bottom: 4px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.options-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-menu li {
    margin-bottom: 4px;
}

.options-menu table {
  width: 100%;
  border-collapse: collapse;
}

.options-menu table tr {
  width: 100%;
}

.options-menu table td {
  padding: 4px 8px;
}

.options-menu table button {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.center {
  display: flex;
  justify-content: center;
}
.counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 20);
    color: black;
    border-radius: 30%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
